@using OgrenciNotMvc.Models.EntityFramework
@model List<Notlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Not Id</th>
        <th>Ders Id</th>
        <th>Ogrenci Id</th>
        <th>Sinav 1</th>
        <th>Sinav 2</th>
        <th>Sinav 3</th>
        <th>Proje</th>
        <th>Ortalama</th>
        <th>Durum</th>
    </tr>
    <tbody>
        @foreach (var not in Model)
        {
            <tr>
                <td>@not.NotId</td>
                <td>@not.DersId</td>
                <td>@not.OgrenciId</td>
                <td>@not.Sinav1</td>
                <td>@not.Sinav2</td>
                <td>@not.Sinav3</td>
                <td>@not.Proje</td>
                <td>@not.Ortalama</td>
                <td>@not.Durum</td>
            </tr>
        }
    </tbody>
</table>
<a href="#" class="btn btn-primary">Yeni Not Ekle</a>